<!DOCTYPE html>
<html>
<body>

<h2>Add Asset Details</h2>

<form action="/action_page.php">
  <label for="number">NO. :</label><br>
  <input type="num" id="number" name="number" value=" "><br>
  
  <label for="active">Active: </label><br>
  <input type="text" id="active" name="active" value=" "><br><br>
  
  <label for="inactive">Inactive: </label><br>
  <input type="text" id="inactive" name="inactive" value=" "><br><br>
  
  <label for="operate">Operating: </label><br>
  <input type="text" id="operate" name="operate" value=" "><br><br>
  
<label for="consolidate">Consolidated: </label><br>
  <input type="text" id="consolidate" name="consolidate" value=" "><br><br>
  
  <input type="submit" value="Submit">
</form> 

</body>
</html>
